<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/beercss@2.1.3/dist/cdn/beer.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.0.10/dist/cdn/material-dynamic-colors.min.js" type="text/javascript"></script>

    <title>{% block title%}{% endblock title %}</title>
    {% block headscripts %}{% endblock headscripts %}

    {% block headstyles %}
    {% load static %}
    {% include 'styles.html' %}
    {% endblock %}
</head>
<body class="light">

<nav class="left flat m l">
    <div class="large-space"></div>
    <div class="large-space"></div>
    <a href="/">
        <i>home</i>
        <div>Home</div>
    </a>
    <a href="{% url 'news:news_index'%}">
        <i>newspaper</i>
        <div>News</div>
    </a>

    <a href="{% url 'news:articles_index'%}">
        <i>articles</i>
        <div>Articles</div>
    </a>

    <a href="{% url 'news:posts_search' %}">
        <i>search</i>
        <div>Search</div>
    </a>

</nav>

<nav class="top">
    <div class="row no-wrap middle-align">
        <div class="col">
            <nav class="padding">
                <button class="none m l" data-ui="#modal-menu"><i>menu</i></button>
                <a href="#">OnlyNews</a>
            </nav>
        </div>
        <div class="col"></div>
        <div class="col">
            <nav class="right-align">
                <a href="/admin" class="button round">
                    <i>account_circle</i>
                    <span>Log In</span>
                </a>
            </nav>
        </div>
    </div>
</nav>



<div class="overlay"></div>

<main class="responsive">
    <div class="page active">
        {% block content %}{% endblock content %}
    </div>
</main>

<div class="modal left small" id="modal-menu">
    <nav>
        <button class="none m l" data-ui="#modal-menu"><i>menu</i></button>
        <a href="#">OnlyNews</a>
    </nav>
    <div class="medium-space"></div>
    <a href="/" class="row no-wrap">Home</a>
    <a href="/news" class="row no-wrap">News</a>
    <a href="#" class="row no-wrap">Tyry</a>
    <a href="#" class="row no-wrap">Pyry</a>
</div>

{% block footerscripts %}
{% endblock footerscripts %}

</body>
</html>