{% extends 'base.html' %}

{% load tags_extra %}

{% block title%}
{{ post.title }}
{% endblock title %}

{% block content %}
<article>
    <div class="row no-wrap">
        <div class="col min">
            <i class="large">person</i>
            <div>{{ post.author }}</div>
            <div>
                {% if post.type == 'AR' %}
                <i>article</i>
                {% else %}
                <i>whatshot</i>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <h4>{{ post.title }}</h4>
            <div class="medium-space"></div>
            <div>
                {{ post.content }}
            </div>
        </div>
    </div>
    <div class="space"></div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row no-wrap right-align">
                <div class="col min"><a href="#"><i class="small">thumb_down</i></a></div>
                <div class="col min {%if post.rating >= 0 %}green-text{% else %}red-text{% endif %}">{{ post.rating }}</div>
                <div class="col min"><a href="#"><i class="small">thumb_up</i></a></div>
            </div>
        </div>
    </div>

    <div class="absolute right bottom small-margin small-text">{{ post.timestamp|date:'d E Y H:i' }}</div>
</article>

<div class="space"></div>

{% for comment in post.comment_set.all %}
<article class="border">
    <div class="row no-wrap small-space">
        <div class="col min">
            <i class="large">person</i>
            <div>{{ comment.author }}</div>
        </div>
        <div class="col">
            {{ comment.text|profanity }}
        </div>
    </div>
    <div class="small-space"></div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="row no-wrap right-align">
                <div class="col min"><a href="#"><i class="small">thumb_down</i></a></div>
                <div class="col min {%if comment.rating >= 0 %}green-text{% else %}red-text{% endif %}">{{ comment.rating }}</div>
                <div class="col min"><a href="#"><i class="small">thumb_up</i></a></div>
            </div>
        </div>
    </div>

    <div class="absolute right bottom small-margin small-text no-wrap">{{ comment.timestamp|date:'d E Y H:i:s' }}</div>
</article>
{% endfor %}


{% endblock content %}