{% extends 'base.html' %}

{% block title%}News Index{% endblock title %}

{% block content %}

<div class="small-space"></div>

<div class="row">
        {% for post in posts_list %}
        <div class="col s12 m6 l6">
            <article class="border">
                <div class="row no-wrap">
                    <div class="col min">
                        {% if post.type == 'AR' %}
                        <i>article</i>
                        {% else %}
                        <i>whatshot</i>
                        {% endif %}
                    </div>
                    <div class="col">
                        <h5 class="no-margin"><a href="{% url 'news:news_detail' post.id %}">{{ post.title }}</a></h5>
                        <div>
                            {{ post.content|truncatechars:48 }}
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="absolute bottom right small-margin small-text">{{ post.timestamp|date:'d E Y' }}</div>
            </article>
        </div>
        {% endfor %}
</div>

<div class="row">
    <nav class="middle-align">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="chip round"><i>arrow_backward</i> {{ page_obj.previous_page_number }}</a>
        {% endif %}
        <span class="chip round border">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="chip round">{{ page_obj.next_page_number }} <i>arrow_forward</i></a>
        {% endif %}
    </nav>
</div>

{% endblock content %}

