{% extends 'base.html' %}

{% block title%}News search{% endblock title %}

{% block content %}

<div class="row padding">
    <div>{{ filterset.form.non_field_errors }}</div>

    <form action="" method="get">
        <nav class="no-wrap">
            <div class="field label prefix border">
                <i>search</i>
                <input type="text" name="title__icontains">
                <label>Search for...</label>
            </div>
            <button type="button">
                <i>build_circle</i>
                <div class="dropdown right no-wrap">
                    <div  class="small-margin">
                        <label for="input_date">Not earlier then:</label>
                        <input type="date" id="input_date" name="timestamp__gt">
                    </div>
                    <div  class="small-margin">
                        <label class="switch">
                        <input type="checkbox" name="rating__gt" value="-1">
                        <span>Non negative rating</span>
                        </label>
                    </div>
                </div>
            </button>
            <input type="submit" class="button border" value="Search" />
        </nav>
    </form>
</div>

<div class="small-space"></div>

<div class="row">
    <h4>Search results:</h4>
    {% for post in posts_list %}
        <div class="row padding card">
            <a href="{% url 'news:post_detail' post.id %}">{{ post.title }}</a>
        </div>
    {% endfor %}
</div>

{% endblock content %}